<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body bgcolor="pink">
    <center>    
    <h1>Upload Details</h1>
<h3>
    <tr>
        <td><label>Assignment Name</label></td>
        <td><input type="text" name="Aname" maxlength="50" placeholder="name" />
        </td>
    </tr><br>
    <tr>
        <td><label>Assignment Date</label></td>
        <td><input type="date" placeholder="date" maxlength="50" name="date" id="date" required/>
        </td>
    </tr><br>
</h3>

     <h3>Select Assignment <input type="file"><br>
    <input type="submit" value="Upload"><br></h3>
    
    </center>
</body>
</html>