{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url({% static 'bike.jpg' %}); background-repeat: no-repeat; background-size: cover;">
    <center>
    <h1>Welcome Home</h1>
    <h1><a href="Reg">Reg</a></h1>
    <h1><a href="Login">Login</a></h1>
    <h1><a href="details">Reg Member's Details</a></h1>
    <h1><a href="assignment">Upload Details</a></h1>
    </center>
</body>
</html>
